* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  min-height: 90dvh;
  background-color: linear-gradient(to right, #ff7e5f, #feb47b);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 2rem;
  article {
    height: 80vh;
    display: flex;
    align-items: center;
    margin: auto;
    &:nth-child(1) {
      padding: 2.5rem 0.5rem;
      width: clamp(360px, 60%, 950px);
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;

      h2 {
        width: 75%;
      }
      p {
        width: 90%;
      }
      .services {
        width: 90%;
        text-align: center;
        a {
          text-align: center;
          display: inline-block;
          width: 45%;
        }
      }
    }
    &:nth-child(2) {
      justify-content: center;
      width: clamp(360px, 30%, 650px);
      iframe {
        width: 100%;
        border-radius: 25px;
        aspect-ratio: 1/1;
        height: auto;
        outline: none;
      }
      img {
        width: 80%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }
    }
  }
}
@media (max-width: 750px) {
  section {
    flex-direction: column-reverse;
    article {
      margin: 1rem auto;
      width: 80% !important;
      &:nth-child(2) {
        height: 50vh;
        iframe {
          height: 100%;
          width: auto;
          border-radius: 25px;
          aspect-ratio: 1/1;
          outline: none;
        }
        img {
          width: auto !important;
          height: 100% !important;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  section {
    article {
      width: 95% !important;
    }
  }
}
