{%extends 'base.html'%} {%block content%}
<section>
  <article>
    <h2>About</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptates
      odio natus excepturi. Sed accusamus ab placeat perferendis, ipsam amet
      mollitia tenetur, laborum nulla ipsum cumque distinctio voluptatibus iusto
      dicta! Totam, labore sed. Mollitia ex laborum voluptate eius nisi nihil.
      Error hic doloribus quisquam natus inventore cumque odit cupiditate,
      officiis voluptatum, autem consequatur harum ratione ea assumenda dolore
      in molestiae? Iusto nobis doloribus reiciendis, rem dolor molestiae
      necessitatibus? Quas sit repudiandae necessitatibus. Dolorem nobis, quos
      magni quae dolor odio ipsa. Tempore assumenda, doloremque illum mollitia
      nesciunt earum ducimus. Aliquam, corrupti? Facere quasi culpa ab corrupti
      voluptatum dolorem ullam quidem magni! Officiis, laudantium, eligendi enim
      corporis a nam tempore consectetur placeat natus alias cum quis nemo
      aliquam aspernatur necessitatibus adipisci culpa. Ducimus nostrum tempora
      voluptatem id aliquid corrupti adipisci cumque vitae mollitia incidunt
      vero pariatur itaque assumenda omnis tenetur temporibus, necessitatibus
      eveniet iure doloribus aspernatur non. Quisquam omnis dicta ratione hic.
    </p>
    <h2>Contact Details</h2>
    <p>Email</p>
    <p>Phone</p>
    <p>Fax</p>
    <p>Address</p>
  </article>
  <article>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12367292.426977828!2d2.1219438247282296!3d40.820088529016004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d4fe82448dd203%3A0xe22cf55c24635e6f!2sItaly!5e0!3m2!1sen!2sit!4v1712229038283!5m2!1sen!2sit"
      style="border: 0"
      allowfullscreen=""
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </article>
</section>
{%endblock%}
