{%extends 'base.html'%} {%block content%}
<section>
  <article>
    <h2>Barber Shop</h2>
    <p>
      Welcome to "The Gentleman's Den," where style and grooming go hand in
      hand! We at our barbershop are committed to giving each and every customer
      that walks through our doors outstanding service, quality cuts, and a warm
      environment. Our skilled barbers are here to make you look and feel your
      best, whether you're searching for a traditional trim, a chic new style,
      or a soothing shave. Step into our store to discover the ideal combination
      of tradition, current techniques, and individual service. Discover your
      unique style at "The Gentleman's Den" today!
    </p>
    <h2>Services</h2>
    <div class="services">
      <a href="/MakeAppointment">Make an appointment</a>
      <a href="/About">Contact Us</a>
    </div>
  </article>
  <article>
    <img
      src="{{ url_for('static', filename='img/barber_svg.svg') }}"
      alt="Barber"
    />
  </article>
</section>
{%endblock%}
